#map_canvas {
  margin-top: 20px;
  height: 420px;
}

#winner {
  margin-top: 10px;
  font-size: 18px;
  @include make-row();
  @include make-md-column(6);
  @include make-md-column-offset(3);
  display: none;
  text-align: center;
}

.compare {
  margin-top: 10px;
  @include make-row();
}

.compare_location_one, .compare_location_two {
  @include make-md-column(3);
}

.compare_location_one {
  @include make-md-column-offset(3);
}

.compare_button {
  @include make-md-column(4);
  @include make-md-column-offset(4);
}

footer {
  margin-top: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
  border-top: 1px solid #cdd6d1;
}

